<form asp-action="Create">
    <input type="text" name="Id" placeholder="Id">
    <input type="text" name="FullName" placeholder="FullName">
    <input type="text" name="Email" placeholder="Email">
    <input type="submit" value="Tạo dữ liệu">
</form>
<div>
    <a asp-action accesskey="Index"> Quay về trang danh sách </a>
</div>
<h2>@ViewBag.Message</h2>